<%- include('./Partials/head.ejs') %>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h2 align="center">Bem vindo ao nosso Sistema de Controle de Estoque</h2>
            </div>
            <div class="card-body" align="center">
                <a href="/vendedor" class="btn btn-success"> Acessar Área de Vendedor </a>
                <a href="/estoquista" class="btn btn-success"> Acessar Área de Estoquista </a>
                <a href="/vendedor/create" class="btn btn-success"> Cadastrar Novo Vendedor </a>
            </div>
        </div>
    </div>
<%- include('./Partials/footer.ejs') %>