<%- include('../Partials/head.ejs') %>
    <div class="container">
        <h2>Cadastrar um novo Produto: </h2>
        <form method="POST" action="/estoquista/novoProduto">
            <input type="text" name="produto" placeholder="Digite o nome do Produto: " class="form-control"><br>
            <input type="text" name="precoProduto" placeholder="Digite o Preço do Produto" class="form-control"><br>
            <input type="number" name="quantidadeProduto" placeholder="Quantidade" class="form-control"><br>
            <button type="submit" class="btn btn-success btn-block"> Cadastrar novo Produto </button>
        </form>
    </div>
<%- include('../Partials/footer.ejs') %>