<%- include('../Partials/head.ejs') %>
    <div class="container">
        <h2>Bem vindo a Área de Estoquista: </h2>
        <a href="/estoquista/cadastrarProduto" class="btn btn-success">Cadastrar Novo Produto</a>
        <a href="/" class="btn btn-success">Visualizar Produtos Disponiveis</a>
    </div>
<%- include('../Partials/footer.ejs') %>