<%- include('../Partials/head.ejs') %>
    <div class="container">
        <form>
            <input type="text" name="produto" placeholder="Digite o nome do Produto" class="form-controll">
            <button type="submit" class="btn btn-success"> Vender !</button>
        </form>
    </div>
<%- include('../Partials/footer.ejs') %>