<%- include('../Partials/head.ejs') %>
    <div class="container">
        <div class="card-header">
            <h2 align="center">Faça seu Login de Vendedor:</h2>
        </div>
        <div class="card-body">
            <form action="/vendedor/auth" method="POST">
                <input type="text" name="nome" placeholder="Digite seu nome" class="form-control"><br>
                <input type="email" name="email" placeholder="Digite seu Email" class="form-control"><br>
                <input type="password" name="password" placeholder="Digite sua Senha" class="form-control"><br>
                <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>
        </div>
    </div>
<%- include('../Partials/footer.ejs') %>