<%- include('../Partials/head.ejs') %>
    <div class="container">
        <h2>Realizar uma Venda: </h2>
        <a href="/vendedor/vendaForm" class="btn btn-success">Realizar Venda</a>
    </div>
<%- include('../Partials/footer.ejs') %>